* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 1225px) {
  .container {
    width: 1200px;
    margin: auto;
  }
}

@media screen and (min-width: 1525px) {
  .container {
    width: 1500px;
    margin: auto;
  }
}

header {
  height: 100px;
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: white;
}

header .header-navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  padding: 0px 10px;
}

header .header-navbar .header-logo {
  width: 200px;
  height: 100%;
}

header .header-navbar .header-logo a .logo {
  height: 100%;
  width: 80%;
}

header .header-navbar .header-logo a .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

header .header-navbar .header-menu {
  display: none;
  margin-left: 100px;
}

header .header-navbar .header-menu ul {
  display: flex;
  justify-content: space-around;
}

header .header-navbar .header-menu ul li {
  margin: 0px 14px;
  position: relative;
}

header .header-navbar .header-menu ul li::after {
  content: "";
  height: 2px;
  width: 0px;
  background: black;
  border-radius: 10px;
  position: absolute;
  bottom: -5px;
  right: 0%;
  transition: 0.3s;
}

header .header-navbar .header-menu ul li:hover::after {
  width: 100%;
  left: 0%;
}

header .header-navbar .header-menu ul li a {
  color: #565050;
  font-size: 22px;
  text-transform: uppercase;
}

header .header-navbar .header-menu ul li a:hover {
  color: black;
  transition: 200ms linear;
}

header .header-navbar .toggle-menu {
  display: block;
  font-size: 32px;
  cursor: pointer;
}

@media screen and (min-width: 1075px) {
  header {
    height: 100px;
    position: absolute;
    z-index: 1;
    width: 100%;
  }

  header .header-navbar {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
  }

  header .header-navbar .header-logo {
    width: 200px;
    height: 100%;
  }

  header .header-navbar .header-logo a .logo {
    height: 100%;
    width: 80%;
  }

  header .header-navbar .header-logo a .logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }

  header .header-navbar .header-menu {
    display: block;
    margin-left: 100px;
  }

  header .header-navbar .toggle-menu {
    display: none;
  }
}

footer {
  width: 100%;
  max-height: auto;
  padding: 60px 0;
  background-color: #F3F3F3;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

footer .container-contact {
  margin-bottom: 20px;
}

footer .container-contact h5 {
  color: black;
  margin: 10px 0;
}

footer .container-contact li {
  list-style-type: none;
}

footer .container-social-online {
  text-align: center;
}

footer .container-social-online h2 {
  font-weight: 200;
  color: black;
}

footer .studio-footer h1 {
  font-weight: 200;
}

footer h2,
footer .container-social .social {
  color: black;
  margin: 5px 15px;
}

footer h2 {
  margin: 20px 0;
}

footer .facebook:hover {
  color: #294f92;
}

footer .instagram:hover {
  color: #bf0707;
}

footer .twitter:hover {
  color: #009ded;
}

footer .snapchat:hover {
  color: yellow;
}

footer .store {
  width: 230px;
  height: auto;
}

footer .store a,
footer .store img {
  width: 100%;
  height: 100%;
}

footer .container-contact,
footer .container-social-online,
footer .store {
  margin: 20px;
}

@media screen and (min-width: 576px) {
  footer {
    flex-direction: row;
  }
}

.container-contacts {
  width: 900px;
  margin: auto;
  height: 750px;
  margin-top: 50px;
}

.text-principal-contacts h1 {
  color: #3b5190;
}

input {
  display: block;
  padding: 10px;
  width: 600px;
  margin: 40px 0px;
  border-radius: 6px;
  border-style: none;
}

textarea {
  height: 100px;
  width: 600px;
  border-radius: 6px;
  padding: 5px;
  border: none;
}

#input-submit {
  font-size: 20px;
  color: white;
  background-color: #3b5190;
  text-transform: uppercase;
}

.cf {
  width: 100%;
  height: 610px;
  margin-top: 20px;
  background-color: #033c6d73;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 6px;
  padding-top: 43px;
}

section {
  width: 100%;
  padding: 55px 0px;
  text-align: center;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.images {
  width: 100%;
}

.images img {
  width: 100%;
  height: 100%;
}

.next {
  position: absolute;
  right: 8px;
  opacity: 0.6;
  cursor: pointer;
}

.next i {
  color: white;
  font-size: 26px;
  padding: 12px 16px 12px 18px;
  /* border-radius: 100%; */
  background-color: black;
}

.prev {
  position: absolute;
  left: 8px;
  opacity: 0.6;
  cursor: pointer;
}

.prev i {
  color: white;
  font-size: 26px;
  padding: 12px 17px 12px 14px;
  background-color: black;
}

.statistiche {
  background-color: #1c489636;
  width: 100%;
  padding: 20px;
  margin: 40px 0px;
}

.statistiche .dati-teamlegale {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.statistiche .dati-teamlegale .singolo-dato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 70px;
}

.statistiche .dati-teamlegale .singolo-dato h1 {
  font-size: 40px;
}

.statistiche .dati-teamlegale .singolo-dato p {
  font-size: 16px;
}

.principal-text-approfondimenti {
  background: #1c489636;
  padding: 55px;
}

.principal-text-approfondimenti h1 {
  font-size: 35px;
  margin-bottom: 10px;
}

.principal-text-approfondimenti p {
  font-size: 20px;
}

.section-approfondimenti {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  padding-top: 115px;
}

.section-approfondimenti .singolo-approfondimento {
  flex-basis: 346px;
  height: 250px;
  margin: 20px;
  border: 1px solid #f1f1f1;
  padding: 40px 25px;
}

.section-approfondimenti .singolo-approfondimento i {
  font-size: 30px;
}

.section-approfondimenti .singolo-approfondimento h5 {
  font-size: 22px;
  text-transform: uppercase;
  padding: 10px 0px;
}

.section-approfondimenti .singolo-approfondimento p {
  font-size: 16px;
}

.separator-img {
  background-image: url("https://www.studiolegalelionesarli.it/wp-content/uploads/2017/03/slider-studio-legale.jpg");
  height: 390px;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  position: relative;
  margin: 100px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.separator-img h1 {
  font-size: 40px;
  text-transform: uppercase;
  color: white;
}

.separator-img a {
  padding: 15px 110px;
  background-color: white;
  color: black;
  text-transform: uppercase;
  border-radius: 7px;
  margin-left: 49px;
  font-weight: bolder;
}

@media screen and (min-width: 965px) {
  .statistiche {
    background-color: #1c489636;
    width: 100%;
    padding: 20px;
  }

  .statistiche .dati-teamlegale {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
}

