* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 1500px;
  margin: auto;
}

header {
  height: 100px;
  position: absolute;
  z-index: 1;
}

header .header-navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  margin-left: 180px;
}

header .header-navbar .header-logo {
  width: 200px;
  height: 100%;
}

header .header-navbar .header-logo a .logo {
  height: 100%;
  width: 80%;
}

header .header-navbar .header-logo a .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

header .header-navbar .header-menu {
  margin-left: 100px;
}

header .header-navbar .header-menu ul {
  display: flex;
  justify-content: space-around;
}

header .header-navbar .header-menu ul li {
  margin: 0px 14px;
}

header .header-navbar .header-menu ul li a {
  color: grey;
  font-size: 22px;
  text-transform: uppercase;
}

header .header-navbar .header-menu ul li a:hover {
  color: black;
  transition: 200ms linear;
}

footer {
  width: 100%;
  max-height: auto;
  padding: 70px 0;
  background-color: black;
  color: #ffffffd6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

footer .container-contact {
  margin-bottom: 20px;
}

footer .container-contact h5 {
  color: #ffffffd6;
  margin: 10px 0;
}

footer .container-contact li {
  list-style-type: none;
}

footer .container-social-online {
  text-align: center;
}

footer .container-social-online .logo {
  display: flex;
  justify-content: center;
}

footer .container-social-online .logo h1 {
  color: #ffffffd6;
  font-weight: 700;
}

footer .container-social-online h2,
footer .container-social-online .container-social .social {
  color: #ffffffd6;
  margin: 5px 15px;
}

footer .container-social-online h2 {
  margin: 20px 0;
}

footer .container-social-online .facebook:hover {
  color: #294f92;
}

footer .container-social-online .instagram:hover {
  color: #bf0707;
}

footer .container-social-online .twitter:hover {
  color: #009ded;
}

footer .container-social-online .snapchat:hover {
  color: yellow;
}

footer .store {
  width: 230px;
  height: auto;
}

footer .store a,
footer .store img {
  width: 100%;
  height: 100%;
  filter: contrast(0.1);
}

footer .container-contact,
footer .container-social-online,
footer .store {
  margin: 20px;
}

@media screen and (min-width: 576px) {
  footer {
    flex-direction: row;
  }
}

.container-contacts {
  width: 900px;
  margin: auto;
  height: 750px;
  margin-top: 50px;
}

.text-principal-contacts h1 {
  color: #3b5190;
}

input {
  display: block;
  padding: 10px;
  width: 600px;
  margin: 40px 0px;
  border-radius: 6px;
  border-style: none;
}

textarea {
  height: 100px;
  width: 600px;
  border-radius: 6px;
  padding: 5px;
  border: none;
}

#input-submit {
  font-size: 20px;
  color: white;
  background-color: #3b5190;
  text-transform: uppercase;
}

.cf {
  width: 100%;
  height: 610px;
  margin-top: 20px;
  background-color: #033c6d73;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 6px;
  padding-top: 43px;
}

section {
  width: 100%;
  padding: 100px 0px;
  text-align: center;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.images {
  width: 100%;
}

.images img {
  width: 100%;
  height: 100%;
}

.next {
  position: absolute;
  right: 8px;
  opacity: 0.6;
  cursor: pointer;
}

.next i {
  color: white;
  font-size: 26px;
  padding: 12px 16px 12px 18px;
  /* border-radius: 100%; */
  background-color: black;
}

.prev {
  position: absolute;
  left: 8px;
  opacity: 0.6;
  cursor: pointer;
}

.prev i {
  color: white;
  font-size: 26px;
  padding: 12px 17px 12px 14px;
  background-color: black;
}

.statistiche {
  background-color: grey;
  width: 100%;
  height: 300px;
}

.statistiche .dati-teamlegale {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.statistiche .dati-teamlegale .singolo-dato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.statistiche .dati-teamlegale .singolo-dato h1 {
  font-size: 50px;
}

.statistiche .dati-teamlegale .singolo-dato p {
  font-size: 21px;
}

