* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

@media screen and (min-width: 1225px) {
  .container {
    width: 1200px;
    margin: auto;
  }
}

@media screen and (min-width: 1525px) {
  .container {
    width: 1500px;
    margin: auto;
  }
}
