header {
    height: 100px;
    position: absolute;
    z-index: 1;

    .header-navbar {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;

        .header-logo {

            width: 200px;
            height: 100%;

            a {

                .logo {

                    height: 100%;
                    width: 100%;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
            }

            .header-menu {

                margin-left: 100px;

                ul {
                    display: flex;
                    justify-content: space-around;

                    li {
                        margin: 0px 14px;

                        a {
                            color: grey;
                            font-size: 20px;
                            text-transform: uppercase;

                            &:hover {
                                // letter-spacing: 3px;
                                color: black;
                                transition: 200ms linear;
                            }
                        }
                    }
                }
            }
        }
    }
