    header {
        height: 100px;
        position: absolute;
        z-index: 1;
        width: 100%;
        background-color: white;

            &::before {
             content: '';
             position: fixed;
             top: 0;
             left: 180px;
             width: 100px;
             height: 0px;
             background: transparent;
             z-index: 10;
             transition: 1s;
            }

             &.active::before {
                 top: 0;
                 left: 0;
                 width: 50%;
                 height: 100%;
                 background: white;
             }

             &::after{
                 content: '';
                 position: fixed;
                 bottom: 0;
                 right: 100px;
                 width: 180px;
                 height: 0px;
                 background: transparent;
                 transition: 1s;
                 z-index: 9;
             }

             &.active::after {
                 bottom: 0;
                 right: 0;
                 width: 50%;
                 height: 100%;
                 background: white;
             }

            .header-navbar {
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: space-between;
                height: 100%;
                padding: 0px 10px;

                .header-logo {

                    width: 200px;
                    height: 100%;
                    z-index: 10;

                    a {

                        .logo {

                            height: 100%;
                            width: 80%;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: contain;
                                }
                            }
                        }
                    }

                    .header-menu {
                        display: none;
                        margin-left: 100px;

                        ul {
                            display: flex;
                            justify-content: space-around;

                            li {
                                margin: 0px 14px;
                                position: relative;

                                &::after {
                                    content: '';
                                    height: 2px;
                                    width: 0px;
                                    background: black;
                                    border-radius: 10px;
                                    position: absolute;
                                    bottom: -5px;
                                    right: 0%;
                                    transition: .3s;
                                }

                                &:hover::after {
                                    width: 100%;
                                    left: 0%;
                                }

                                a {
                                    color: #565050;
                                    font-size: 22px;
                                    text-transform: uppercase;

                                    &:hover {
                                        // letter-spacing: 3px;
                                        color: black;
                                        transition: 200ms linear;
                                    }
                                }
                            }
                        }
                    }

                    .toggle-menu {
                        display: block;
                        font-size: 32px;
                        cursor: pointer;
                        z-index: 10;

                        i {

                        }
                    }
                }
        }

        .menu-mobile {
            min-width: 250px;
            min-height: 250px;
            max-width: 600px;
            max-width: 600px;
            display: flex;
            align-items: center;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;
            visibility: hidden;
            opacity: 0;
            transition: 1s;
            transition-delay: 0s;
            border: 1px solid black;

                ul {
                    list-style-type: none;
                    text-align: center;

                    li {
                        &:hover {
                            background-color: white;
                            color: white;
                            transition: 1s;
                        }

                        &:hover a {
                            color:black;
                            letter-spacing: 3px;
                        }

                        a {
                            display: inline-block;
                            padding: 20px 60px;
                            color: black;
                            text-decoration: none;
                            text-transform: uppercase;
                            letter-spacing: 1px;
                            font-size: 25px;
                            transition: all 0.5s ease-in-out;
                        }
                    }
                }
            }

        header.active .menu-mobile{
            opacity: 1;
            visibility: visible;
            transition-delay: 1s;
        }

@media screen and (min-width: 1075px) {
    header {
        height: 100px;
        position: absolute;
        z-index: 1;
        width: 100%;

        .header-navbar {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            height: 100%;

            .header-logo {

                width: 200px;
                height: 100%;

                a {

                    .logo {

                        height: 100%;
                        width: 80%;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }
                    }
                }

            .header-menu {
                display: block;
                margin-left: 100px;
            }

            .toggle-menu {
                display: none;
            }
        }
    }
}
